/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* default */

img {
    max-width: 100%;
}


/* header */

header{
    width: 100%;

}

/* container della griglia*/

.container {
    width: 64vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    background-color: black;
    
}

/* regole imposte dal contenitore generale */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* display / griglia*/

.display {
    padding: 5px;
    width: 8vw;
    height: 70px;
    border: 1px dashed black;
    background-image: url(../img/572.jpg);
    background-size: cover;
    position: relative;
    color: white;
    margin: 5px 2px;

}

/* minidisplay */

.minidisplay {
    position:absolute;
    bottom: 0;
    left: 0;
}


/* barra */

.barra {

    height: 100px;
    background-color: grey;
}
