/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* default */

img {
    max-width: 100%;
}


/* header */

header{
    width: 100%;
    background-color: black;
    

}

/* option1 container */

.options1 {
    width: 85vw;
    position: relative;

}




/* container */

.container {
    width: 64vw;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    display: flex;
    
}

/* speaker view part */

.speaker-view {
    background-color: aliceblue;
    font-size: 10px;
    position: absolute;
    right: 45px;

    
}

/* expand option in alto a destra*/

.expand {
    
    background-color: #D84315;
    font-size: 10px;
    position: absolute;
    right: 33px;
    top: 0px;
}


/* regole imposte dal contenitore generale */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* display / griglia*/

.display {
    
    width: 8vw;
    height: 70px;
    
    background-image: url(../img/572.jpg);
    background-size: cover;
    position: relative;
    color: white;
    margin: 5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* minidisplay */

.minidisplay {
    position:absolute;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    background-color: lightgrey; 
         
}




/* barra */

.barra {

    height: 100px;
    background-color: grey;
}
